{% extends "first_base.html" %}
{% block title %}say-hello{% endblock %}
{% block first_body %}
    {% for i in  range %}
        <h1>
            welcome here!{{ name }},
            <br>
            ｡:.ﾟヽ(*´∀`)ﾉﾟ.:｡
        </h1>
    {% endfor %}

    {% include "first/_welcome.html" %}
    <form action="" method="get">
        <p>
            <input type="text" placeholder="name" name="name">
        </p>
        <p>
            <input type="number" placeholder="repeat" name="repeat">
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>

{% endblock %}
